<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title> <%=title%>
    </title>


    <meta charset="UTF-8">
    <meta content='width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no' name='viewport'>
    <!-- Bootstrap 3.3.2 -->
    <link href="../../resources/bootstrap/css/bootstrap.min.css" rel="stylesheet" type="text/css" />
    <!-- FontAwesome 4.3.0 -->
    <link href="../../plugins/datatables/dataTables.bootstrap.css" rel="stylesheet" type="text/css" />

    <link href="../../resources/dist/css/AdminLTE.min.css" rel="stylesheet" type="text/css" />
    <link rel="stylesheet" href="../../css/font-awesome/css/font-awesome.min.css" type="text/css">
    <!-- DATA TABLES -->
    <link href="../../resources/dist/css/skins/_all-skins.min.css" rel="stylesheet" type="text/css" />
</head>

<header class="main-header">
    <!-- Logo -->
    <a href="/" class="logo"><b>e</b>Lib</a>
    <!-- Header Navbar: style can be found in header.less -->
    <nav class="navbar navbar-static-top" role="navigation">
        <!-- Sidebar toggle button-->
        <a href="#" class="sidebar-toggle" data-toggle="offcanvas" role="button">
            <span class="sr-only">Toggle navigation</span>
        </a>
        <div class="navbar-custom-menu">
            <ul class="nav navbar-nav">
                <li class="dropdown user user-menu">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                        <span class="fa fa-user"></span>
                        <!-- <img src="resources/dist/img/user2-160x160.jpg" class="user-image" alt="User Image" /> -->
                        <span class="hidden-xs">
                            <!-- < user.name %> -->
                        </span>
                    </a>
                    <div class="dropdown-menu" style="width: inherit;">

                        <a style="width: 100%; text-align: center;" href="/user/signout"
                            class="btn btn-default btn-primary">
                            <span class="fa fa-door text-white">Sign Out</span> <i
                                class="fa fa-sign-out pull-right"></i></a>
                    </div>
                </li>
            </ul>
            </li>
            </ul>
        </div>
    </nav>
</header>