<aside class="main-sidebar">
    <!-- sidebar: style can be found in sidebar.less -->
    <section class="sidebar">
        <!-- Sidebar user panel -->
        <div class="user-panel">
            <!-- <div class="pull-left image">
    <img src="resources/dist/img/user2-160x160.jpg" class="img-circle" alt="User Image" />
  </div> -->
            <div class="pull-left info">
                <p>
                    <!-- < user.name %> -->
                </p>

                <a href="#"><i class="fa fa-circle text-success"></i> Online</a>
            </div>
        </div>
        <!-- search form -->
        <form action="#" method="get" class="sidebar-form">
            <div class="input-group">
                <input type="text" name="q" class="form-control" placeholder="Search..." />
                <span class="input-group-btn">
                    <button type='submit' name='search' id='search-btn' class="btn btn-flat"><i
                            class="fa fa-search"></i></button>
                </span>
            </div>
        </form>

        <ul class="sidebar-menu">
            <li class="active treeview">
                <a href="/dashboard/view-users">
                    <i class="fa fa-user"></i> <span>Users</span> <i class=""></i>
                </a>
            </li>
            <li class="treeview">
                <a href="#">
                    <i class="fa fa-book"></i><span>Books</span><i class="fa fa-angle-left pull-right"></i></a>
                <ul class="treeview-menu">
                    <li><a href="/dashboard/view-books"><i class="fa fa-eye"></i> View Books</a></li>
                    <li><a data-toggle='modal' data-target='#add-book-modal' style="cursor: pointer;"><i
                                class="fa fa-plus"></i> Add
                            Books</a></li>
                </ul>
            </li>

            <li class="active"><a href="/dashboard/requests"><i class="fa fa-recycle"></i>Borrow
                    Requests</a></li>
    </section>
    <!-- /.sidebar -->
</aside>

<!-- Modal for Add Book -->
<div id="add-book-modal" class="modal fade" role="dialog">
    <div class="modal-dialog">

        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h3 class="modal-title text-center">Add New Book</h3>
            </div>
            <div class="modal-body">
                <p>
                <form method="post" name="myform" class="signup_validate mr-5 ml-5 " action="/dashboard/add-book">

                    <div class="form-group input-group">
                        <span class="input-group-addon">
                            <i class="fa fa-book"></i>
                        </span>
                        <input type="text" class="form-control" placeholder="Book Title" name="title" required>
                    </div>
                    <div class="input-group form-group">
                        <span class="input-group-addon">
                            <i class="fa fa-user"></i>
                        </span>
                        <input type="text" class="form-control" placeholder="Author" name="author" required>
                    </div>
                    <div class="input-group form-group">
                        <span class="input-group-addon">
                            <i class="fa fa-print"></i>
                        </span>
                        <input type="text" class="form-control" placeholder="Publisher" name="publisher" required>
                    </div>

                    <div class="input-group form-group">
                        <span class="input-group-addon">
                            <i class="fa fa-list-alt"></i>
                        </span>
                        <input type="text" class="form-control" placeholder="Categories" name="categories" required>
                    </div>
                    <p><strong>Borrow Status</strong></p>
                    <div class="form-group radio">
                        <label class="radio-inline"><input type="radio" value="Available" name="status"
                                checked>Available</label>
                        <label class="radio-inline"><input type="radio" value="Unavailable" name="status"
                                disabled>Unavailable</label>
                    </div>
                    <div class="text-center mt-4">
                        <input type="submit" class="btn btn-success btn-block signup-btn" value="Add to Library" />
                    </div>
                </form>
                </p>
            </div>
        </div>

    </div>
</div>